@model List<ProyectoWebGrupo6.Entidades.TiposCategorias>
@{
    ViewBag.Title = "MantenimientoCategorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Mantenimiento de Categorías</h1>
        <div class="card mb-4">
            <div class="card-body">
                @if (ViewBag.MsjPantalla != null)
                {
                    <div class="alert alert-warning" role="alert" style="text-align:center">
                        @ViewBag.MsjPantalla
                    </div>
                }

                <div style="margin-bottom:1%; text-align:left">
                    <a class="btn InputColor" href="@Url.Action("RegistrarCategoria","Categoria")"> + Agregar</a>
                </div>

                <table id="myDataTable" class="table table-bordered dataTable" style="width: 100%;">
                    <thead>
                        <tr role="row">

                            <th>Id de la Categoría</th>
                            <th>Nombre</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd">

                                <td>@item.CategoriaId</td>
                                <td>@item.NombreCategoria</td>
                                <td style="text-align:center">
                                    <a href="@Url.Action("ActualizarCategoria", "Categoria", new { CategoriaId = @item.CategoriaId })" class="btn InputColor">Editar</a>
                                    <a href="@Url.Action("EliminarCategoria", "Categoria", new { CategoriaId = @item.CategoriaId })" class="btn InputColor">Eliminar</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script src="~/Estilos/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myDataTable').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json',
            }
        });
    });
</script>